<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>operations on student marks</title>
</head>
<body>
    <div>
        <p>
           <b> Top 10 students is:</b> {{top}}
        </p>
        <p>
            <b>last student is : </b>{{last}}
        </p>
        <p>
           <b> avarage of all studnets is :</b> {{avg}}
        </p>
        <p>
            <b> number of all studnets is :</b> {{count}}
         </p>
         <p>
            <b> max of marks for all studnets is :</b> {{marks}}
         </p>
         <p>
            <b> min of marks for all studnets is :</b> {{minmarks}}
         </p>
        </p>
        <hr>
        
        <p>
           <b> start name with letter s of all studnets is :</b> {{namestartswith}}
            <br>
           <b> start name with letter a of all studnets and  1st 5 students only is :</b> {{namestartwitha}}
        </p>
    </div>
</body>
</html>