<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>registerpage</title>
</head>

<body>

    <form class="container mt-5," method="post">
        {%csrf_token%}
        <h2>register page</h2>
        {% if messages %}

            <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </div>


        {% endif %}
        <div class="form-group">
            <label for="exampleInputEmail1">first name</label>
            <input type="text" name="first_name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter First Name">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">last name</label>
            <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Last Name">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">username</label>
            <input type="text" name="user_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter UserName">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <p>if u have already account <a href="/loginpage/">login</a></p>
    </form>
</body>

</html>